In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
pd.read_csv("Veriler.csv")

         Adi Soyadi   Yas      Bolumu Mezuniyet
0        Cemal Kara  40.0  Bilgisayar     Hayir
1      Cemile Aksoy   NaN    Cografya      Evet
2  Mehtap Karakelle  30.0    Elektrik     Hayir
3        Senay Kara  38.0  Bilgisayar      Evet

In [ ]:
dataset=pd.read_csv("Veriler.csv")

In [ ]:
dataset

         Adi Soyadi   Yas      Bolumu Mezuniyet
0        Cemal Kara  40.0  Bilgisayar     Hayir
1      Cemile Aksoy   NaN    Cografya      Evet
2  Mehtap Karakelle  30.0    Elektrik     Hayir
3        Senay Kara  38.0  Bilgisayar      Evet

In [ ]:
x=dataset.iloc[:,-1].values

BAĞIMSIZ DEĞİŞKENLER

In [ ]:
x

array(['Hayir', 'Evet', 'Hayir', 'Evet'], dtype=object)

In [ ]:
y=dataset.iloc[:,:-1].values

BAĞIMLI DEĞİŞKENLER

In [ ]:
y

array([['Cemal Kara', 40.0, 'Bilgisayar'],
       ['Cemile Aksoy', nan, 'Cografya'],
       ['Mehtap Karakelle', 30.0, 'Elektrik'],
       ['Senay Kara', 38.0, 'Bilgisayar']], dtype=object)

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer=SimpleImputer(missing_values=np.nan, strategy="mean")

In [ ]:
imputer.fit(y[:,1:2])

SimpleImputer()

In [ ]:
y[:,1:2] = imputer.transform(y[:,1:2])

KOD ÇALIŞARAK KAYIP DEĞERE VAR OLAN YAŞLARIN ORTALAMASINI EKLEMİŞ OLDU

In [ ]:
y

array([['Cemal Kara', 40.0, 'Bilgisayar'],
       ['Cemile Aksoy', 36.0, 'Cografya'],
       ['Mehtap Karakelle', 30.0, 'Elektrik'],
       ['Senay Kara', 38.0, 'Bilgisayar']], dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[0])], remainder="passthrough")

In [ ]:
ct.fit_transform(y)

array([[1.0, 0.0, 0.0, 0.0, 40.0, 'Bilgisayar'],
       [0.0, 1.0, 0.0, 0.0, 36.0, 'Cografya'],
       [0.0, 0.0, 1.0, 0.0, 30.0, 'Elektrik'],
       [0.0, 0.0, 0.0, 1.0, 38.0, 'Bilgisayar']], dtype=object)